@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-spin {
    animation: spin infinite 1s linear;
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General styles for button */
button {
  transition: all 100ms linear;
}

button:active {
  transform: scale(90%);
}

.button { /* buttons/input[submit] with 'button' class */
  @apply bg-accent-400;
  display: block;
  cursor: pointer;
  border-color: bg-accent-400;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  color: #fff
}
.button:hover {
  background-color: bg-accent-500;
}
.button:disabled {
  @apply bg-accent-300;
  color: #777;
}
.button:disabled:hover {
  @apply bg-accent-300;
}


/* react-transition-group classes for animation */
.appear-enter {
  opacity: 0;
  transform: scale(0.9);
}
.appear-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.appear-exit {
  opacity: 1;
}
.appear-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}



/* .dialog {
  transition: opacity 400ms ease-in-out
} */
.dialog-entering {
  opacity: 0;
  transform: scale(0.9);
}
.dialog-entered  {
  opacity: 1;
  /* transform: translateX(0); */
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.dialog-exiting  {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.dialog-exited  {
  opacity: 0;
}